.dock{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.75rem;
    background-color: rgba(63, 63, 63, 0.395);
    padding-inline: 0.8rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    .icon{
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 3rem;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .github,
    .cli {
        background-color: black;
    }

    .note {
        background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28))
    }

    .pdf {
        background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
    }

    .calender,
    .mail {
        background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
    }

    .spotify {
        background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
    }

    .link {
        background: linear-gradient(to bottom, rgb(163, 97, 170), rgb(142, 33, 154));
    }

    .icon:hover {
        transform: scale(1.20) translateY(-20%);
    }

    .icon:hover+.icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1.1) translateY(-10%);
    }
}