.window{
    overflow: hidden;
    height: 100%;
    background-color: black;
    border-radius: 0.75rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .nav{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        color: rgb(164, 158, 158);
        padding-inline: 0.75rem;
        padding-block: 0.25rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.24);

        .dots{
            display: flex;
            gap: 0.26rem;
            .dot{
                height: 15px;
                width: 15px;
                border-radius: 50%;
            }
            .red {
                background-color: #eb3535;
                cursor: default;
            }

            .yellow {
                background-color: rgb(247, 247, 81);
            }

            .green {
                background-color: rgb(27, 228, 0);
            }
        }
    }
    .main-content {
        height: 100%;
    }

    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }
    *::-webkit-scrollbar-thumb{
        background-color: rgba(77, 71, 71, 0.7);
        border-radius: 1rem;
    }
}