*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body, html{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    // position: relative;
    
}
body{
    background-image: url('photos/mac-wallpaper.jpg');
    background-position: center;
    background-size: cover;
}
